<div class="container">
  <div class="row">
    <form class="form-inline" action="{{ url_for('headlines',country=value) }}" method="get">
      <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" name="country">
          {% if country %}:
            <option selected>{{country}}</option>
          {% endif %}
          {% for key,value in country_list.items() %}
            <option value="{{value}}">{{key}}</option>
          {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary ml-2" name="" value="Submit">
      </div>
    </form>
  </div>
</div>
