{% if news %}
  <div class="container">
      {% for new in news %}
        <div class="m-3">
          <div class="col-md-auto">
            <p class=""><strong><a href="{{ new['url'] }}">{{ new['title'] }}</a></strong></p>
          </div>
          <div class="row">
            <div class="col-4 row align-items-start">
              <img src="{{ new['urlToImage'] }}" alt="{{ new['title'] }}" class="img-fluid">
            </div>
            <div class="col-8 row align-items-center ml-4">
              <p class="">{{ new['description'] }}</p>
            </div>
          </div>
        </div>
        <hr>
      {% endfor %}
  </div>
{% else %}
  <div class="row">
    <p>{{starting_message}}</p>
  </div>
{% endif %}
